.sect_art_hd_trailer{
    margin:35px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sect_art_hd_trailer .thumb {
    float: left;
    width: 299px;
    height: 376px;
    background: #000;
    margin-right: 15px;
}

.sect_art_hd_trailer .player_area {
    float: left;
    position: relative;
    width: 666px;
    height: 376px;
    background: #000;
}

.sect_art_hd_trailer .player_area > a {
    display: block;
    width: 100%;
    height: 100%;
}

.sect_art_hd_trailer .player_area .thumb-image {
    height: 100%;
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.sect_art_hd_trailer .player_area .thumb-image span {
    font-size: 0;
    text-indent: -99999px;
}

.sect_art_hd_trailer .player_area .ico-play {
    width: 66px;
    height: 66px;
    background: url(https://img.cgv.co.kr/R2014/images/sprite/sprite_icon.png) -121px -21px no-repeat;
    left: 50%;
    top: 50%;
    margin-left: -33px;
    margin-top: -33px;
}

.ico-play {
    position: absolute;
    right: 5px;
    bottom: 6px;
    width: 44px;
    height: 44px;
    background: url(https://img.cgv.co.kr/R2014/images/sprite/sprite_icon.png) -60px -21px no-repeat;
    font: 0/0 a;
    zoom: 1;
}

.thumb-image {
    display: block;
    position: relative;
}

a {
    color: inherit;
    text-decoration: none;
}

.sect_art_hd_trailer .thumb h3 {
    margin: 0;
    padding: 0;
    background: none;
}

h3 {
    height: 41px;
    margin: 30px 15px;
    background: url(https://img.cgv.co.kr/r2014/images/common/bg/bg_h3_line.jpg) repeat-x 0 50%;
    line-height: 41px;
    text-align: center;
    font-weight: 500;
}

.wrap-movie-collage .sect-talkprogram h3 {
    margin: 34px 0 15px 0;
}

.sect-talkprogram h3 {
    margin: 0px 15px;
}

.sect-talkprogram {
    margin: 50px 0 0 0;
}



h3 > img {
    padding: 0 8px;
    background-color: #fdfcf0;
}



.sect-talkprogram .program_list.type3 {
    text-align: center;
}


footer .policy_list {
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
    padding: 23px 0;
    border-bottom: 1px solid #ebebeb;
}

.policy_list li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.company_info {
    font-size: 12px;
    color: #666;
    line-height: 1.667em;
}

section {
    display: block;
}

.company_info address {
    font-style: normal;
}

.company_info .company_info_list {
    display: flex;
}

dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

address {
    display: block;
    font-style: italic;
}

footer .company_info_wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 980px;
    margin: 0 auto;
    padding: 23px 0;
}

.sect_art_hd_trailer {
    margin: 35px 0 0 0;
}

.sect_art_hd_trailer .player_area > a {
    display: block;
    width: 100%;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.cf {
    *zoom: 1;
}

.cf:before {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf:after {
    content: " ";
    display: table;
}

.sect_art_hd_trailer .player_area .thumb-image {
    height: 100%;
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.thumb-image {
    display: block;
    position: relative;
}

a {
    color: inherit;
    text-decoration: none;
}

.sect_art_hd_trailer .player_area .thumb-image span {
    font-size: 0;
    text-indent: -99999px;
}

footer {
    min-width: 1040px;
    padding: 0 0 14px;
    background-color: #f8f8f8;
}
/*
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*/
footer {
    display: block;
}

:root {
    --swiper-navigation-size: 44px;
}

:root {
    --swiper-theme-color: #007aff;
}


footer .familysite_wrap label {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 38px);
    height: 100%;
    font-size: 0;
    line-height: 0;
}

label {
    cursor: default;
}

footer .familysite_wrap {
    position: relative;
}

section {
    display: block;
}

footer .familysite_wrap label {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 38px);
    height: 100%;
    font-size: 0;
    line-height: 0;
}

select {
    -webkit-writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    cursor: default;
    margin: 0em;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    border-radius: 0px;
}

select:not(:-internal-list-box) {
    overflow: visible !important;
}

select {
    line-height: 27px;
    height: 29px;
    padding: 3px 5px;
    border: 1px solid #b4b3aa;
}

footer .familysite_wrap select {
    position: relative;
    height: 34px;
    font-size: 12px;
    color: #666;
    line-height: 34px;
    border: none;
    background-color: transparent;
    border: 1px solid #d8d8d8;
}

footer .familysite_wrap .btn_familysite {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 34px;
    margin-left: -1px;
    font-size: 14px;
    color: #fff;
    line-height: 1.429em;
    background-color: #9e9e9e;
    vertical-align: top;
}

a {
    color: inherit;
    text-decoration: none;
}

dd >a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}